{% extends "imdb_filmes/layout.html" %}
{% load static %}

{% block title %}
    Melhores Filmes
{% endblock %}

{% block body %}
    <div id="conteudo">

        <div id="lista">
            <h1>Melhores Filmes</h1>
            <table class="table_rank">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Nota do IMDb </th>
                    </tr>
                    <tr>
                        <th></th>
                        <th>Título</th>
                        <th id="qtd_votos">/ Qtd de votos</th>
                    </tr>
                </thead>
                <tbody>
                {% for filme in filmes %}
                    <tr>
                        <td><img src="" width="45" height="67"></td>
                        <td id="td_titulo">
                            {{ filme.rank }}. <a href="{% url 'filme' filme.filme_id %}">{{ filme.titulo_primario }}</a> ({{ filme.lancamento }})
                        </td>
                        <td id="td_nota">
                          <strong> {{ filme.nota_media }}</strong> <br> / {{ filme.num_votos }}
                        </td>         
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>



        <div id="filtros">
            
            <h1><img id="filtro_icon" src="{% static 'imdb_filmes/filtro.png' %}" width="35" height="42">Filtros</h1>

            <form action="{% url 'index' %}" method="get">
                <p>Ano de lançamento:</p>
                <div class="range_container">
                    <div class="sliders_control">
                       <input id="fromSlider" type="range" value="{{ filtros.from }}" min="1911" max="2022" name="fromSlider" oninput="this.form.fromInput.value=this.value" />
                       <input id="toSlider" type="range" value="{{ filtros.to }}" min="1911" max="2022" name="toSlider" oninput="this.form.toInput.value=this.value"/>
                    </div>
                    <div class="form_control">
                      <div class="form_control_container">
                          Entre
                          <input class="form_control_container__time__input" type="number" id="fromInput" value="{{ filtros.from }}" min="1911" max="2022" name="fromInput" oninput="this.form.fromSlider.value=this.value"/>
                        </div>
                        <div class="form_control_container">
                           e 
                          <input class="form_control_container__time__input" type="number" id="toInput" value="{{ filtros.to }}" min="1911" max="2022" name="toInput" oninput="this.form.toSlider.value=this.value"/>
                        </div>
                    </div>
                </div>

                <p>Generos:</p>
                <table>
                    <tr>
                        <td><input type="hidden" id="" name="acao" value="0">
                            <input type="checkbox" id="" name="acao" value="1" {{ filtros.acao }}>
                        <label for="acao"> Ação</label></td>
                        <td><input type="hidden" id="" name="aventura" value="0">
                            <input type="checkbox" id="" name="aventura" value="1" {{ filtros.aventura }}>
                        <label for="aventura"> Aventura</label></td>
                    </tr>
                    <tr>
                        <td><input type="hidden" id="" name="animacao" value="0">
                        <input type="checkbox" id="" name="animacao" value="1"  {{ filtros.animacao }}>
                        <label for="animacao"> Animação</label></td>
                        <td><input type="hidden" id="" name="biografia" value="0">
                            <input type="checkbox" id="" name="biografia" value="1" {{ filtros.biografia }}>
                        <label for="biografia"> Biografia</label></td>
                    </tr>
                    <tr>
                        <td><input type="hidden" id="" name="comedia" value="0">
                            <input type="checkbox" id="" name="comedia" value="1" {{ filtros.comedia }}>
                        <label for="comedia"> Comédia</label></td>
                        <td><input type="hidden" id="" name="crime" value="0">
                            <input type="checkbox" id="" name="crime" value="1" {{ filtros.crime }}>
                        <label for="crime"> Crime</label></td>
                    </tr>
                    <tr>
                        <td><input type="hidden" id="" name="documentario" value="0">
                            <input type="checkbox" id="" name="documentario" value="1" {{ filtros.documentario}}>
                        <label for="documentario"> Documentário</label></td>
                        <td><input type="hidden" id="" name="drama" value="0">
                            <input type="checkbox" id="" name="drama" value="1" {{ filtros.drama }}>
                        <label for="drama"> Drama</label></td>
                    </tr>
                    <tr>
                        <td><input type="hidden" id="" name="familia" value="0">
                            <input type="checkbox" id="" name="familia" value="1" {{ filtros.familia }}>
                        <label for="familia"> Família</label></td>
                        <td><input type="hidden" id="" name="fantasia" value="0">
                            <input type="checkbox" id="" name="fantasia" value="1" {{ filtros.fantasia }}>
                        <label for="fantasia"> Fantasia</label></td>
                    </tr>
                    <tr>
                        <td><input type="hidden" id="" name="horror" value="0">
                            <input type="checkbox" id="" name="horror" value="1" {{ filtros.horror }}>
                        <label for="horror"> Horror</label></td>
                        <td><input type="hidden" id="" name="historico" value="0">
                            <input type="checkbox" id="" name="historico" value="1" {{ filtros.historico }}>
                        <label for="historico"> Historico</label></td>
                    </tr>
                    <tr>
                        <td><input type="hidden" id="" name="musical" value="0">
                            <input type="checkbox" id="" name="musical" value="1" {{ filtros.musical }}>
                        <label for="musical"> Musical</label></td>
                        <td><input type="hidden" id="" name="musica" value="0">
                            <input type="checkbox" id="" name="musica" value="1" {{ filtros.musica }}>
                        <label for="musica"> Musica</label></td>
                    </tr>
                    <tr>
                        <td><input type="hidden" id="" name="misterio" value="0">
                            <input type="checkbox" id="" name="misterio" value="1" {{ filtros.misterio }}>
                        <label for="misterio"> Mistério</label></td>
                        <td><input type="hidden" id="" name="romance" value="0">
                            <input type="checkbox" id="" name="romance" value="1" {{ filtros.romance }}>
                        <label for="romance"> Romance</label></td>
                    </tr>
                    <tr>
                        <td><input type="hidden" id="" name="cientifica" value="0">
                            <input type="checkbox" id="" name="cientifica" value="1" {{ filtros.cientifica }}>
                        <label for="cientifica"> Ficção cientifica</label></td>
                        <td><input type="hidden" id="" name="esporte" value="0">
                            <input type="checkbox" id="" name="esporte" value="1" {{ filtros.esporte }}>
                        <label for="esporte"> Esporte</label></td>
                    </tr>
                    <tr>
                        <td><input type="hidden" id="" name="suspense" value="0">
                            <input type="checkbox" id="" name="suspense" value="1" {{ filtros.suspense }}>
                        <label for="suspense"> Suspense</label></td>
                        <td><input type="hidden" id="" name="guerra" value="0">
                            <input type="checkbox" id="" name="guerra" value="1" {{ filtros.guerra }}>
                        <label for="guerra"> Guerra</label></td>
                    </tr>
                    <tr>
                        <td><input type="hidden" id="" name="faroeste" value="0">
                            <input type="checkbox" id="" name="faroeste" value="1" {{ filtros.faroeste }}>
                        <label for="faroeste"> Faroeste</label></td>
                    </tr>
                </table>
                <p>Nota mínima: <input type="number" name="notaInput" min="0" max="10" value="{{ filtros.nota }}" oninput="this.form.notaRange.value=this.value" /></p>
                <div id="slider_nota">
                    <input type="range" name="notaRange" min="0" max="10" value="{{ filtros.nota }}" oninput="this.form.notaInput.value=this.value" />
                </div>
                
            
                <p>Quantidade mínima de votos:<input type="number" id="" min="1000" value="{{ filtros.votos }}" name="qtd_votos"></p>
                
                <br>
                <input class="botao_filtro " type="submit" value="Filtrar filmes">
            </form>
        </div>
    </div>
{% endblock %}