{% extends "imdb_filmes/layout.html" %}

{% block title %}
    Melhores Filmes
{% endblock %}

{% block body %}
    <div id="lista">
        <ol>
            {% for filme in filmes %}
                <li>
                    <a href="{% url 'filme' filme.filme_id %}">
                    {{ filme.titulo_primario }} - {{ filme.lancamento }} - {{ filme.nota_media }} - {{ filme.num_votos }} 
                    </a>
                </li>
            {% endfor %}
        </ol>
    </div>
    <div id="filtros">

    </div>
{% endblock %}