{% extends "imdb_filmes/layout.html" %}
{% load static %}


{% block title %}
    Pesquisa
{% endblock %}

{% block body %}
{% if pessoas.0 is not None %}
<h1>Pessoas:</h1>

<div class="cards">
    {% for pessoa in pessoas %}
    <ul>
    <div class="card">
        <img  src="{{ pessoa.url }}" alt="card" id="image">
        <div class="fraseCard">
            <a href="{% url 'pessoa' pessoa.pessoa_id %}">{{pessoa.nome}}</a>
        </div>
    </div>
    </ul>
    {% endfor %}
</div>
{% endif %}

{% if filmes.0 is not None %}
<h1>Filmes:</h1>
<div class="cards">
    {% for filme in filmes %}
    <ul>
        <div class="card">
            <img  src="{{ filme.url }}" alt="card" id="image">
            <div class="fraseCard">
                <a href="{% url 'filme' filme.filme_id %}">{{filme.titulo_primario}}</a>
            </div>
        </div>
    </ul>
    {% endfor %}
{% endif %}
{% if pessoas.0 is None and filmes.0 is None %}
    <p>Nenhum resultado</p>
{% endif %}

{% endblock %}