{% extends "imdb_filmes/layout.html" %}
{% load static %}


{% block title %}
    Pesquisa
{% endblock %}

{% block body %}
<h1>Pessoas:</h1>

<div class="cards">
    {% for pessoa in pessoas %}
    <ul>
    <div class="card">
        <img  src="https:" alt="card" id="image">
        <div class="fraseCard">
            <a href="{% url 'pessoa' pessoa.pessoa_id %}">{{pessoa.nome}}</a>
        </div>
    </div>
    </ul>
    {% endfor %}
</div>

<h1>Filmes:</h1>
<div class="cards">
    {% for filme in filmes %}
    <ul>
        <div class="card">
            <img  src="https" alt="card" id="image">
            <div class="fraseCard">
                <a href="{% url 'filme' filme.filme_id %}">{{filme.titulo_primario}}</a>
            </div>
        </div>
    </ul>
{% endfor %}
{% endblock %}