{% extends "imdb_filmes/layout.html" %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
<div class="filme-background">
    <div class="pessoa-titulo">
        <div class="filme-titulo-image">
            <img src="{{ capa }}">
        </div>

        <div class="pessoa-titulo-infos">
            <div class="pessoa-titulo-primario">
                <p>{{ pessoa.0.nome}}</p>
            </div>

            <div class="pessoa-info">
                <div class="pessoa-info-data">
                    <div class="pessoa-info-data-img">
                        <img src="{% static 'imdb_filmes/white-star.png' %}" alt='icon' id='icon'>
                    </div>
                    <div class="pessoa-info-data-text">
                        <p>{{ pessoa.0.nascimento}}</p> 
                    </div>
                </div>
                <div class="pessoa-info-data">
                    <div class="pessoa-info-data-img">
                        <img src="{% static 'imdb_filmes/cruz-branca.png' %}" alt='icon' id='icon'>
                    </div>
                    <div class="pessoa-info-data-text">
                        <p>{{ pessoa.0.morte}}</p> 
                    </div>
                </div>
            </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}