{% extends "imdb_filmes/layout.html" %}
{% load static %}

{% block title %}
    Melhores Roteristas
{% endblock %}

{% block body %}
<div id="conteudo">

    <div id="lista">
        <h1>Melhores Roteristas</h1>
        <table class="table_rank">
            <thead>
                <tr>
                    <th></th>
                    <th>Nome</th>
                    <th>Nota Média</th>
                    <th>Ponderada</th>
                    <th>TOP250</th>
                    <th>Filmes</th>
                </tr>
            </thead>
            <tbody>
            {% for diretor in diretores %}
                <tr>
                    <td><img src="" width="45" height="67"></td>
                    <td>
                        {{ diretor.rank }}. <a href="{% url 'pessoa' diretor.pessoa_id %}">{{ diretor.nome }}</a>
                    </td>
                    <td  id="td_nota">
                        <strong> {{ diretor.media }}</strong> 
                    </td>
                    <td  id="td_nota">
                        <strong>{{ diretor.ponderada }}</strong>
                    </td>
                    <td id="td_num">
                        {{ diretor.num_top250 }}
                    </td>
                    <td id="td_num">
                        {{ diretor.num_filmes}}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="filtros">
        <form method="get">
            <h1><img id="filtro_icon" src="{% static 'imdb_filmes/filtro.png' %}" width="35" height="42">Filtros</h1>
            <p>Quantidade de filmes dirigidos >=<input type="number" id=""  value="{{ filtros.qtd_dirigidos }}" name="qtd_dirigidos"></p>
            <p>Quantidade de votos dos filmes:<input type="number" id=""  value="{{ filtros.votos }}" name="qtd_votos"></p>
            <input type="checkbox" id="" name="vivo" value="1" {{ filtros.vivo }}>
            <label for="vivo"> Está vivo</label>
            <br><br>
            <label for="ordem">Rankear por</label>
            <select name="ordem" id="ordem" selected="{{ filtros.selected }}">
                <option value="media">Média aritimética</option>
                <option value="ponderada">Média ponderada</option>
                <option value="qtd_top250">Quantidade de filmes no TOP250</option>
                <option value="qtd_filmes">Quantidade de filmes</option>
            </select>
            <br><br>
            <input class="botao_filtro" type="submit" value="Filtrar diretores">
        </form>
    </div>
</div>
{% endblock %}